head {
    foreground-color: white;
    }

body {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);

    }
h1 {
    padding: 72px;
    color: white;
    font-size: 96px;
    text-align:center}





body > div > div > form > button:nth-child(4) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 12px 154px;
    color: #FFFACD;
}



body > div > form > button:nth-child(9) {
    align: center;
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 14px 107px 14px 107px;
    color: #FFFACD;
}

html {
    position: relative;
    min-width: 1200px;
    min-height: 768px;
    height: 100%;
}

body > div > div {
    position: absolute;
    bottom: 8%

}
body > div > div > form > button:nth-child(1) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 4px 25px 4px 25px;
    color: #F3CFC6;
    position: relative;
    left: auto;
    right: auto;
}

body > div > div > form > button:nth-child(2) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 4px 25px 4px 25px;
    color: #F3CFC6;
    position: relative;
    left: auto;
    right: auto;
}
body > div > form > div > div > p {
    font-size: 20px;}



body > div > form > div > div > button:nth-child(5) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 4px 185px 4px 185px;
    color: #F3CFC6;
}

body > div > form > div > div > h4:nth-child(6) {
    font-size: 42;
   }

body > div > form > div > div > h4:nth-child(1) {
    font-size: 42;
}


body > div > form > div:nth-child(1) > p {
   font-size: 20px;
   }
body > div > form > div:nth-child(4) > div {
    padding: 20px 0px 0px 0px;
}
body > div > form > div:nth-child(1) > h1 {
   padding: 12px 0px 0px 0px;}
body > div > form > div.container > h1 {
    font-size: 56px;
}
body > div > form {
   padding: 20px;
   }

body > div > form > div:nth-child(4) > div > h4:nth-child(1) {
   padding: 10px;
   }
body > div > form > div.center > button:nth-child(5) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 4px 185px 4px 185px;
    color: #F3CFC6;
}
body > div > form > button:nth-child(1) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 4px 179px 4px 179px;
    color: #F3CFC6;
}

body > div > form > div.center > h4:nth-child(1) {
    font-size: 32px;}

body > div > form > div.center > p {
    font-size: 24px;}


# Download for PC Label
body > div > form > div.center > h4:nth-child(4) {
    padding: 20px;
    font-size: 32px;}

* {
    font-family: tahoma;
  }

body > div > form > div.container > p {
    color: white;

body > div > form > button:nth-child(3) {
    color: white;
    background-color: #770737;
    }

h5 {
   font-size: 38px;}

form button {
  position: relative;
  display: inline-block;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px
}

button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

button span {
  position: absolute;
  display: block;
}

body > div > form > button:nth-child(6) span {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

button span:(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

button span:(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

button span:(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

body > div.container > div > form > button.btn.btn-primary {
    width: 40%;
    height: 70%;
    }


@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

body > div.container > div > form > button.btn.btn-primary {
    width: 40%;
    height: 70%;
    }