head {
    foreground-color: white;
    }

body {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);

    }
body > div > h1 {
    padding: 72px;
    color: #FFFACD;
    font-size: 96px;
    text-align:center}

.center {
    border-radius: 25px;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 16px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body > div > div > form > button:nth-child(1) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 13px 16px;
    color: #FFFACD;
    }

body > div > div > form > button:nth-child(4) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 12px 154px;
    color: #FFFACD;
}

body > div > div > form > button:nth-child(7) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 14px 107px;
    color: #FFFACD;
}

body > div > div > form > button:nth-child(1):hover {
    font-size: 28px;
    border-radius: 16px;
    background-color: #FF0F50;
    border: none;
    padding: 13px 16px;
    color: #FFFACD;
}
body > div > div > form > button:nth-child(7):hover {
    font-size: 28px;
    border-radius: 16px;
    background-color: #FF0F50;
    border: none;
    padding: 14px 107px;
    color: #FFFACD;
}

body > div > div > form > button:nth-child(4):hover {
    font-size: 28px;
    border-radius: 16px;
    background-color: #FF0F50;
    border: none;
    padding: 12px 154px;
    color: #FFFACD;
}

body > div > img {
    border-radius:20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 75%;
}

body > div.container > p > img {
    border-radius:25px;
    margin: 0;
    top: 49%;
    position: absolute;
    right: 81%;
}

body > div > button:nth-child(6) {
    font-size: 35px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 14px 107px 14px 107px;
    color: #FFFACD;
    position: absolute;
    left: 25%;
    right: 25%;

}

body > div > button:nth-child(10) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 14px 122px 14px 107px;
    color: #FFFACD;
    position: absolute;
    left: 25%;
    right: 25%;
}

body > div > form > div > button:nth-child(7) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 14px 107px 14px 107px;
    color: white;
}

body > div > form > button:nth-child(9) {
    align: center;
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;
    padding: 14px 107px 14px 107px;
    color: white;
}
body > div > form > div > button:nth-child(3) {
    font-size: 28px;
    border-radius: 16px;
    background-color: #770737;
    border: none;

    padding: 14px 100px 14px 100px;
    color: white;
    position: relative;
    left: auto;
    right: auto;
}
html {
    position: relative;
    min-width: 1200px;
    min-height: 768px;
    height: 100%;
}

* {
    font-family: julius sans one;
  }