{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="iToven Musical AI is changing the way music is produced, performed, and taught. Download our free software to start making great beats, neat sounds, and professional sounding songs. Free music samples and music composition education,">
	<meta name="keywords" content="Music, beats, BEATS, PRODUCERS, WAVS, WAV, SAMPLES, HIPHOPPRODUCTION, DRUMKIT, DRUM KITS, DRUM KIT, 808, 909, SP500, HI HAT, HAT, SNARE, TOM DRUM, TRAVIS SCOTT, MIKE DEAN, J DILLA, HOTBOY, WONDAGURL, RUN THE JEWELS, MEOW THE JEWELS, LABCOOKINSTRUMENTAL, INSTRUMENTAL MAKER, COMPOSITION, MUSIC COMPOSITION, SONGWRITING, LOGIC PRO X, FRUITYLOOPS, FLSTUDIO10, FLSTUDIO, FL STUDIO, ABLETON, ABLETON LIVE, MIDI, SPLICE, SOUNDS, LOOPS, drum machine, synthesizer, organ, guitar, piano, learn piano, music theory, theory music, chords, keys, notes, scales, time signatures, time signature, TIME SIGNATURE, SCALE, SCALES, NOTE, NOTES, CHORD, ORGAN, PIANO">
  <link rel="shortcut icon" type="image/png" href="/static/LogoMakr.png" sizes="32x32"><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<form method="POST">
  <h3 align="center">Verify Email</h3>
  <div class="form-group">
    <label for="code_verify_id">This code will expire in 20 minutes. We trust you.</label>
    <input
      type="text"
      class="form-control"
      id="code_verify_id"
      name="verify_code"
      placeholder="Enter 6 digit code sent to your email address."
    />
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
