{% extends "base.html" %} {% block title %}Gold Confirmation{% endblock %} {% block content
%}
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="iToven Musical AI is changing the way music is produced, performed, and taught. Download our free software to start making great beats, neat sounds, and professional sounding songs. Free music samples and music composition education,">
	<meta name="keywords" content="Music, beats, BEATS, PRODUCERS, WAVS, WAV, SAMPLES, HIPHOPPRODUCTION, DRUMKIT, DRUM KITS, DRUM KIT, 808, 909, SP500, HI HAT, HAT, SNARE, TOM DRUM, TRAVIS SCOTT, MIKE DEAN, J DILLA, HOTBOY, WONDAGURL, RUN THE JEWELS, MEOW THE JEWELS, LABCOOKINSTRUMENTAL, INSTRUMENTAL MAKER, COMPOSITION, MUSIC COMPOSITION, SONGWRITING, LOGIC PRO X, FRUITYLOOPS, FLSTUDIO10, FLSTUDIO, FL STUDIO, ABLETON, ABLETON LIVE, MIDI, SPLICE, SOUNDS, LOOPS, drum machine, synthesizer, organ, guitar, piano, learn piano, music theory, theory music, chords, keys, notes, scales, time signatures, time signature, TIME SIGNATURE, SCALE, SCALES, NOTE, NOTES, CHORD, ORGAN, PIANO">
  <link rel="shortcut icon" type="image/png" href="/static/LogoMakr.png" sizes="32x32"><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<h1 align="center">Congrats, you're a total pro!</h1>
<p align="center">To start using your new features, just login to the iToven Desktop app, and it will automatically detect your subscription. Every month, you will automatically be given 500 download credits.</p>
<form method="POST">
<button type ="submit" name= "home-redirecters" value="redirecter-portal" class="btn btn-secondary">Back to Portal</button>
<button type ="submit" name= "home-redirecters" value="redirecter-landing" class="btn btn-secondary">iToven Landing Page</button>
<button type ="submit" name= "home-redirecters" value="redirecter-account" class="btn btn-secondary">My Account</button>
</form>
{% endblock %}
