{% extends "base.html" %} {% block title %}Forgot Password{% endblock %} {% block content
%}
<head><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<form method="POST">
  <br>
  <h3 align="center">Password Recovery</h3>
  <p align="center">Exceed IO Inc. will send you a secure email with login instructions. You'll be groovin in no time!</p>
  <br><br>
  <div class="form-group">
    <label for="email">Account/Recovery Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter Login Email"
    />
  </div>
  <br />
  <button type="submit" name="submit-both" class="btn btn-primary" value="get_password">Send Recovery Email</button>
  <br>
  <br>
  <br>
  <button type ="submit" name="submit-both" value="redirecter-portal" class="btn btn-secondary">Back to Portal</button>
  <button type ="submit" name="submit-both" value="redirecter-landing" class="btn btn-secondary">iToven Landing Page</button>
</form>
{% endblock %}