{% extends "base.html" %} {% block title %}iToven AI - Home{% endblock %} {% block content
%}
<head><meta name="description" content="iToven Musical AI is changing the way music is produced, performed, and taught. Download our free software to start making great beats, neat sounds, and professional sounding songs. Free music samples and music composition education,">
	<meta name="keywords" content="Music, beats, BEATS, PRODUCERS, WAVS, WAV, SAMPLES, HIPHOPPRODUCTION, DRUMKIT, DRUM KITS, DRUM KIT, 808, 909, SP500, HI HAT, HAT, SNARE, TOM DRUM, TRAVIS SCOTT, MIKE DEAN, J DILLA, HOTBOY, WONDAGURL, RUN THE JEWELS, MEOW THE JEWELS, LABCOOKINSTRUMENTAL, INSTRUMENTAL MAKER, COMPOSITION, MUSIC COMPOSITION, SONGWRITING, LOGIC PRO X, FRUITYLOOPS, FLSTUDIO10, FLSTUDIO, FL STUDIO, ABLETON, ABLETON LIVE, MIDI, SPLICE, SOUNDS, LOOPS, drum machine, synthesizer, organ, guitar, piano, learn piano, music theory, theory music, chords, keys, notes, scales, time signatures, time signature, TIME SIGNATURE, SCALE, SCALES, NOTE, NOTES, CHORD, ORGAN, PIANO">
    <link rel="shortcut icon" type="image/png" href="/static/LogoMakr.png" sizes="32x32"><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<h1 align="center">User Portal</h1>

<div class="center">
    <form method="POST">
    <button type ="submit" name= "home-redirecters" value="redirecter-download" class="btn btn-primary" style="width:100%">Download iToven AI for Mac/PC</button>
    <br><br>
    <button type ="submit" name= "home-redirecters" class="btn btn-primary" value="redirecter-account" style="width:100%">Account</button>
    <br><br>
    <button type ="submit" name= "home-redirecters" value="redirecter-membership" class="btn btn-primary" style="width:100%">Pro Membership</button>
    <br><br>
    <button type ="submit" name= "home-redirecters" value="redirecter-lander" class="btn btn-secondary" style="width:100%">iToven Landing Page</button>
    </form>
</div>

</body>

{% endblock %}
