{% extends "base.html" %} {% block title %}Support{% endblock %} {% block content
%}
<head><link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>
<h1 align="center">Contact and Assistance</h1>
<h5 align="center">Do not fret. We will solve any issues you may have. Just send an email describing your issue and include your username. During business hours, it will be addressed as quickly as possible. -Message from Founder & CEO, Arthur Martinez</h5>
<h3>Addresses and Departments</h3>
<p>Main Office: Southfield Building, 2512 S IH 35, Ste 125, Austin TX</p>
<p>Phone Number: 512-905-8807</p>
<p>Creator and Owner: Arthur Lee Martinez, Founder and CEO (arthur@itoven.exceed-io.com)</p>
<p>Contact Email: iTovenAssist@gmail.com</p>
<form method="POST">
<button type ="submit" name= "home-redirecters" class="btn btn-primary" value="redirecter-account">Home</button>

</form>
{% endblock %}