{% extends "base.html" %} {% block title %}Support{% endblock %} {% block content
%}
<head><meta name="description" content="iToven Musical AI is changing the way music is produced, performed, and taught. Download our free software to start making great beats, neat sounds, and professional sounding songs. Free music samples and music composition education,">
	<meta name="keywords" content="Music, beats, BEATS, PRODUCERS, WAVS, WAV, SAMPLES, HIPHOPPRODUCTION, DRUMKIT, DRUM KITS, DRUM KIT, 808, 909, SP500, HI HAT, HAT, SNARE, TOM DRUM, TRAVIS SCOTT, MIKE DEAN, J DILLA, HOTBOY, WONDAGURL, RUN THE JEWELS, MEOW THE JEWELS, LABCOOKINSTRUMENTAL, INSTRUMENTAL MAKER, COMPOSITION, MUSIC COMPOSITION, SONGWRITING, LOGIC PRO X, FRUITYLOOPS, FLSTUDIO10, FLSTUDIO, FL STUDIO, ABLETON, ABLETON LIVE, MIDI, SPLICE, SOUNDS, LOOPS, drum machine, synthesizer, organ, guitar, piano, learn piano, music theory, theory music, chords, keys, notes, scales, time signatures, time signature, TIME SIGNATURE, SCALE, SCALES, NOTE, NOTES, CHORD, ORGAN, PIANO">
        <link rel="shortcut icon" type="image/png" href="/images/LogoMakr.png" sizes="32x32"><link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>
<h1 align="center">Contact and Assistance</h1>
<h5 align="center">Do not fret. We will solve any issues you may have. Just send an email describing your issue and include your username. During business hours, it will be addressed as quickly as possible. -Message from Founder & CEO, Arthur Martinez</h5>
<h3>Addresses and Departments</h3>
<p>Main Office: Southfield Building, 2512 S IH 35, Ste 125, Austin TX</p>
<p>Support Department Number: 512-905-8807</p>
<p>Creator and Owner: Arthur Lee Martinez, Founder and CEO (arthur@itoven.exceed-io.com)</p>
<p>Support Department Email: iTovenAssist@gmail.com</p>
<form method="POST">
<button type ="submit" name= "home-redirecters" class="btn btn-primary" value="redirecter-account">Home</button>

</form>
{% endblock %}
